* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0d1117;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .textarea {
        width: 770px;
        height: 200px;
        resize: none;
        outline: none;
        border: 1px solid #30363d;
        background-color: #0d1117;
        color: #c9d1d9;
        padding: 10px;

        &:focus {
            border-color: #58a6ff;
        }
    }

    .keyboard {
        width: 770px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        background-color: #181818;
        padding: 10px;

        .key {
            color: #c9d1d9;
            display: flex;
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            background-color: #0d1117;
            border: 1px solid #30363d;
            transition: 0.20s ease-in;

            &:hover{
                background-color: #535c6b;
                cursor: pointer;
                transition: 0.05s ease-in;
            }

            &.active {
                color: #362e26;
                background-color: #f2eee8;
                transition: 0.05s ease-in;
            }

            &-Backspace {
                width: 100px;
            }

            &-Tab {
                width: 50px;
            }

            &-CapsLock {
                width: 100px;
            }

            &-Enter {
                width: 90px;
            }

            &-ShiftLeft {
                width: 100px;
            }

            &-ShiftRight {
                width: 90px;
            }

            &-Space {
                width: 350px;
            }
        }
    }
}